@import url(https://fonts.googleapis.com/css?family=Ubuntu:700,500);
h1,
h2,
p,
span {
    font-family: 'Ubuntu', sans-serif;
}

h1,
h2 {
    margin-bottom: 0;
    color: #fff;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
}

body {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    opacity: 1;
    background: #fc00ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fc00ff, #00dbde);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fc00ff, #00dbde);
}

img {
    width: 55px;
}

#life {
    width: 30px;
}

#score {
    width: 150px;
}

#star {
    width: 60px;
}

#displayStatus {
    width: 130px;
}

.top {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    display: inline-block;
    margin-right: 0;
    margin-bottom: 0;
    color: #fff;
}

.char-princess-girl {
    background: #5f2c82;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5f2c82, #49a09d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5f2c82, #49a09d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.char-cat-girl {
    background: #e55d87;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #e55d87, #5fc3e4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #e55d87, #5fc3e4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.char-horn-girl {
    background: #003973;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #003973, #e5e5be);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #003973, #e5e5be);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.char-pink-girl {
    background: #fc00ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fc00ff, #00dbde);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fc00ff, #00dbde);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.char-boy {
    background: #000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #000, #e74c3c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #000, #e74c3c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}